*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:70vh;
    font-family: sans-serif;
    font-size: 22px;;
}
.form-container{
    display: flex;
    flex-direction: column;
    padding:3rem;
    background-color: #ccc;
    border-radius: 21px;
    min-width: 600px;
}
form{

    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
}
label{
    display: block;
}
input{
    width: 400px;
    box-shadow: 0 0 4px #ccc;
    outline: none;
    border-radius: 10px;
    padding:0.5rem;
    border: none;
}
input[type="submit"]{
    width:100px;
    padding:1rem;
    background-color: blue;
    color: #fff;
    font-size: 1rem;

    cursor: pointer;
    font-weight: 700;

}
small{
    display: block;
    color: red;
    font-size: 15px;
}